<!-- <div id="username-page1">
  <div class="username-page-container">
    <h1 class="title">Type your username to enter the Chatroom</h1>
    <form id="usernameForm" name="usernameForm" (submit)="connect($event)">
      <div class="form-group">
        <input
          type="text"
          id="name"
          placeholder="Username"
          autocomplete="off"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <button type="submit" class="accent username-submit">
          Start Chatting
        </button>
      </div>
    </form>
  </div>
</div> -->
<app-navbar></app-navbar>
<!-- <div id="chat-page" class="hidden">
  <div class="chat-container">
    <div class="chat-header">
      <h2>Spring WebSocket Chat Demo - ByAnderson</h2>
    </div>
    <div class="connecting">Connecting...</div>
    <ul id="messageArea"></ul>
    <form id="messageForm" name="messageForm" (submit)="sendMessage()">
      <div class="form-group">
        <div class="input-group clearfix">
          <input
            type="text"
            id="message"
            placeholder="Type a message..."
            autocomplete="off"
            class="form-control"
          />
          <button type="submit" class="primary">Send</button>
        </div>
      </div>
    </form>
  </div>
</div> -->

<!-- <div>
  <h3>Mostrando mensajes</h3>
  <ul>
    <li *ngFor="let item of messages">
      {{ item.content }}
    </li>
  </ul>
</div> -->
<main class="container">
  <section class="chats">
    <p-autoComplete
      [(ngModel)]="selectedUser"
      [suggestions]="filteredUsers"
      field="username"
      [dropdown]="false"
      (completeMethod)="filterUsers($event)"
      (onSelect)="showSelectedUser()"
      placeholder="Search a contact"
    >
      <ng-template let-user pTemplate="item">
        <div class="user-item">
          <img src="{{ user.profileImg }}" width="30px" height="30px" />
          <div>{{ user.username }}</div>
        </div>
      </ng-template>
    </p-autoComplete>
    <span class="chat-span">DIRECT MESSAGES</span>
    <div class="direct-messages">
      <ng-container *ngFor="let user of users">
        <div class="user-rectangle" (click)="connect(user.id)">
          <div class="user-pic"></div>
          <div class="user-info">
            <span class="user-name">{{ user.username }}</span>
            <span class="preview">These exciting concepts seem...</span>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
  <section class="chat-area">
    <header>
      <div>
        <div class="user-pic"></div>
      </div>
      <h4>Username</h4>
    </header>
    <div class="chat-text-area" #scrollMe [scrollTop]="scrollMe.scrollHeight - 100">
      <ng-container *ngFor="let message of messages">
        <div [ngClass]="message.sender != userID ? 'left' : 'right'">
          <div class="user-pic"></div>
          <div class="text">
            <span>{{ message.sender }}</span>
            <p>{{ message.content }}</p>
          </div>
        </div>
      </ng-container>
    </div>
    <footer>
      <input type="text" name="" id="" placeholder="Write a message" #msm />
      <button (click)="sendMessage(msm.value)">Send</button>
    </footer>
  </section>
</main>
