/*  */
.container {
  display: flex;
  position: relative;
  top: 80px;
  justify-content: center;
}

.chats {
  width: 258px;
  height: 550px;
  flex-shrink: 0;
  border: 1px solid black;
  border-right: none;
  padding: 0;
}

.chats ::ng-deep .p-inputtext {
  font-size: small;
  width: 257px;
  border-bottom: 1px solid black;
  border-radius: unset;
  height: 44px;
}


.chat-span {
  color: black;
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  display: block;
  margin-top: 10px;
}

.direct-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.user-rectangle{
  width: 258px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.user-rectangle:hover {
  scale: 1.05;
  transition: all 0.5s ease-in-out;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.usern-name{
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
}

.preview {
  /* color: rgba(255, 255, 255, 0.50); */
  color: black;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-pic {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: red;
  align-self: flex-start;
}

.chat-area {
  width: 900px;
  height: 550px;
  /* background: rgba(0, 0, 0, 0.23); */
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid black;
}

.chat-area header {
  display: flex;
  align-items: center;
  height: 8%;
  /* background: #121617; */
  border-bottom: 1px solid black;
  /* color: rgba(255, 255, 255, 0.80); */
  padding: 10px;
  gap: 5px;
}

.chat-text-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
padding: 20px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.chat-text-area::-webkit-scrollbar {
  width: 10px;
}

.chat-text-area::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat-text-area::-webkit-scrollbar-thumb {
background: #4e4e4e83;
border-radius: 25px;
}

.left, .right {
  gap: 8px;
  display: flex;
}

.left > .text {
  border-radius: 2px 8px 8px 8px;
}

.right > .text {
  border-radius: 8px 2px 8px 8px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border-radius: 8px 2px 8px 8px; */
  background: rgba(33, 35, 38, 0.60);
  padding: 10px;
}

.text > span {
  font-size: 10px;
  color: #4F7FB7;
  line-height: normal;
}

.text > p {
  font-size: 10px;
  font-weight: 400;
}

.right {
  flex-direction: row-reverse;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  /* border: 1px solid red; */
  padding: 0;
  gap: 0;
}

input {
  width: 100%;
  height: 90%;
  border: none;
  border-top: 1px solid black;
  padding: 10px;
}

input:focus {
  outline: none;
  /* background-color: red; */
  /* border: 0px solid grey; */
}
