.container {
  width: 95%;
  display: flex;
  position: relative;
  top: 130px;
  justify-content: center;
  left: 65px;
}

.chats {
  width: 258px;
  height: 70vh;
  flex-shrink: 0;
  border: 1px solid #312F37;
  border-right: none;
  border-radius: 8px 0px 0px 8px;
  padding: 0;
  background-color: #151515;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chats::-webkit-scrollbar {
  width: 20px;
}

.chats::-webkit-scrollbar-track {
  background-color: #101010;
}

.chats::-webkit-scrollbar-thumb {
  background: #151515;
  border-radius: 20px;
}


.chat-span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  display: block;
  margin-top: 10px;
}

.direct-messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
}

.user-rectangle{
  width: 258px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  gap: 10px;
  padding: 10px;
  margin-top: 10px;
}

.user-rectangle:hover {
  scale: 1.05;
  transition: all 0.5s ease-in-out;
}


.user-name{
  font-size: medium;
  font-weight: bold;
  color: #fff;
}

img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.placeholder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  border: 1px solid #312F37;
  border-radius: 0px 8px 8px 0px;
  background-color: #151515;
  color: #fff;
}

.chat-area {
  width: 70%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #312F37;
  border-radius: 0px 8px 8px 0px;
  display: none;
  background-color: #151515;
}

.chat-area header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15%;
  border-bottom: 1px solid #312F37;
  padding: 20px;
  gap: 5px;
  color: #fff;
}

.chat-text-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 20px;
  padding: 20px;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.chat-text-area::-webkit-scrollbar {
  width: 10px;
}

.chat-text-area::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat-text-area::-webkit-scrollbar-thumb {
background: #4e4e4e83;
border-radius: 25px;
}

.left, .right{
  gap: 8px;
  display: flex;
  position: relative;
}

.left > .text {
  border-radius: 2px 8px 8px 8px;
}

.right > .text {
  border-radius: 8px 2px 8px 8px;
}

.text {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  max-width: 70%;
  background: #101010;
  padding: 10px;
}

.text > span {
  font-size: 10px;
  color: white;
  font-weight: bold;
  line-height: normal;
}

.text > p {
  font-size: 12px;
  color: white;
  font-weight: 400;
}

.right {
  flex-direction: row-reverse;
}

.center {
  align-self: center;
}

.center .text {
  width: 200px;
  border-radius: 8px;
}

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10%;
  padding: 0;
  gap: 0;
}

input:focus {
  outline: none;
}

::ng-deep .fade-up-badge{
  opacity: 0;
  transform: translateY(20px);
  animation-name: fadeUpAnimation;
  animation-duration: 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeUpAnimation {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Input */
.input-container {
  position: relative;
  display: flex;
  height: 44px;
  width: 100%;
  border-bottom: none;
  background-color: #151515;
}

.input-container textarea {
  border: none;
  padding: 10px;
  height: 100%;
  width: 100%;
  border-top: 1px solid #312F37;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #fff;
  outline: none;
  resize: none;
}

.input-container button {
  border: none;
  border-top: 1px solid #312F37;
  background: #151515;
  transition: background 0.5s ease-in-out;
}

.input-container button:hover {
  background: #312F37;
  transition: background 0.5s ease-in-out;
}
/* .invite-btn {
  position: absolute;
  width: 45px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  z-index: 10;
  border-radius: 4px;
  background-color: rgb(86, 236, 72);
  color: #fff;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  transition: .6s ease;
} */


.close-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Autocomplete */
::ng-deep .chats .autocomplete {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #29292E;
  background: #1B1A1C;
  box-shadow: 0px 4px 40px 0px #171619 inset;
  display: flex;
  position: relative;
  width: 257px;
}

::ng-deep .chats .autocomplete input {
  background: none;
  width: 257px;
  /* height: 48px; */
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  justify-self: flex-end;
}

::ng-deep .chats .autocomplete input:enabled:focus {
  border: none;
  box-shadow: none;
  position: relative;
}

::ng-deep .chats .autocomplete input::placeholder {
  font-weight: bolder;
  font-size: 1rem;
}
