<div class="main-container">
  <div class="right">
    <form [formGroup]="newUserForm" class="login-form">
      <div class="form-info">
        <h1>Create your account<span>!</span></h1>
      </div>
      <file-pond #myPond ngClass="filepond"></file-pond>
      <div class="user-info">
      <div class="input-group">
        <input
          required=""
          type="text"
          name="text"
          autocomplete="off"
          class="input"
          id="username"
          formControlName="username"
        />
        <label class="user-label">Username</label>
      </div>
      </div>
      <div class="input-group">
        <input
          required=""
          type="text"
          name="text"
          autocomplete="off"
          class="input"
          id="description"
          formControlName="description"
        />
        <label class="user-label">Description</label>
      </div>
      <div class="input-group">
        <input
          required=""
          type="text"
          name="text"
          autocomplete="off"
          class="input"
          id="email"
          formControlName="email"
        />
        <label class="user-label">Email</label>
      </div>
      <div class="input-group">
        <input
          required=""
          type="password"
          name="password"
          autocomplete="off"
          class="input"
          id="password"
          formControlName="password"
        />
        <label class="user-label">Password</label>
      </div>
      <button type="submit" class="login-btn" (click)="createAccount()" title="Create account button">Create Account</button>
      <span class="message"
        >Already have account?
        <a routerLink="/login">Sign Up</a></span
      >
    </form>
  </div>
</div>
<p-toast position="bottom-right" key="tc" ngClass="toast">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="toast-message">
        <i class="pi pi-check" style="color: #4caf50"></i>
        <p>{{ message.detail }}</p>
      </div>
    </div>
  </ng-template>
</p-toast>

<style>
  ::ng-deep .filepond .filepond--wrapper {
  width: 100px;
  height: 100px;
}

::ng-deep .filepond .filepond--drop-label {
  background-color: #151515;
  color: #f5f5f5;
}

.user-info {
  display: flex;
  place-items: center;
  gap: 10px;
}
</style>
