<nav class="navbar">
  <div class="navbar-end">
    <img src="../../../assets/spring-net-logo.png" alt="SpringNet Logo" class="navbar-logo" />
  </div>
  <div class="navbar-center">
    <button [ngClass]="{ active: home === true }" routerLink="/feed">
      <i class="pi pi-home"></i>
    </button>
    <div class="search">
      <button [ngClass]="{ active: reels === true }" (click)="handleSearch()">
        <i class="pi pi-search"></i>
      </button>
      <p-autoComplete
        [(ngModel)]="selectedUser"
        [suggestions]="filteredUsers"
        field="username"
        [dropdown]="false"
        (completeMethod)="filterUsers($event)"
        (onSelect)="showSelectedUser()"
        ngClass="autocomplete"
        [ngStyle]="{'display': openSearchInput ? 'block' : 'none'}"
      >
        <ng-template let-user pTemplate="item">
          <div class="user-item">
            <img
              src="{{ user.profileImg }}"
              width="30px"
              height="30px"
            />
            <div>{{ user.username }}</div>
          </div>
        </ng-template>
      </p-autoComplete>
    </div>
    <button [ngClass]="{ active: likes === true }" (click)="redirectToSaved()">
      <i class="pi pi-bookmark"></i>
    </button>
    <button [ngClass]="{ active: reels === true }">
      <i class="pi pi-video"></i>
    </button>
    <button (click)="menu.toggle($event)">
      <i class="pi pi-bars"></i>
    </button>
  </div>
  <div class="navbar-end">
    <button class="icon-button">
      <i class="pi pi-comment" pBadge severity="success"></i>
    </button>
    <img
      src="{{user ? user.profileImg : ''}}"
      alt="User Profile image"
      class="navbar-avatar"
      (click)="redirect()"
    />
  </div>
</nav>

<p-menu #menu [popup]="true" [model]="items"></p-menu>
