<div class="card">
  <div class="card-header">
    <div
      class="user"
      [routerLink]="['/profile', post.user?.id]"
      style="cursor: pointer"
    >
      <img
        src="{{ post.user?.profileImg }}"
        alt="User profile"
        width="40px"
        height="40px"
      />
      <div class="user-text">
        <span style="font-size: 14px">{{ post.user?.username }}</span>
        <span style="font-size: 10px; color: #76777e">{{
          formatDate(post.publicationDate)
        }}</span>
      </div>
    </div>
    <button (click)="savePost()" title="Save post button">
      <i class="pi pi-bookmark-fill" [ngStyle]="{'opacity' : saved ? '1' : '0.5'}"></i>
    </button>
  </div>
  <div class="card-img">
    <img src="{{ post.image }}" alt="Post Image" id="post-img" />
  </div>
  <div class="card-actions">
    <div class="main-actions">
      <button class="heart" (click)="likePost()" title="Like post button">
        <i class="pi pi-thumbs-up" [ngClass]="{ active: liked }"></i>
      </button>
      <button (click)="modalShow(post.id)" title="Comment post button">
        <i class="pi pi-comment"></i>
      </button>
      <button (click)="sharePost()" title="Share post button">
        <i class="pi pi-send"></i>
      </button>
    </div>
  </div>
  <span style="font-size: 13px"
    ><strong>{{ likes }}</strong> likes</span
  >
  <div class="card-desc">
    <p style="font-size: 13px">{{ post.content }}</p>
  </div>
  <ng-container *ngIf="stringLength(post.content) > 100">
    <button class="show-btn" (click)="toggleShow()" title="Show more text button">Show more</button>
  </ng-container>
</div>

<!-- Modal -->
<p-dialog
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '70%' }"
  [draggable]="false"
  [resizable]="false"
  [showHeader]="false"
  [dismissableMask]="true"
>
  <div class="modal-body" style="height: 100%">
    <div class="modal-post" style="width: 700px">
      <img src="{{ post.image }}" alt="Post Image" />
    </div>
    <div class="detailBox">
      <div class="titleBox">
        <div class="commenterImage">
          <img src="{{ post.user?.profileImg }}" alt="User profile"/>
        </div>
        <p>@{{ post.user?.username }}</p>
      </div>
      <div class="modal-desc">
        <p>"{{post.content}}"</p>
      </div>
      <div class="actionBox">
        <ul class="commentList">
          <ng-container *ngFor="let comment of comments">
            <li>
              <div class="commenterImage">
                <img src="{{ comment.user?.profileImg }}" alt="User profile"/>
              </div>
              <div class="commentText">
                <p class="">{{ comment.comment }}</p>
                <span class="date sub-text">{{ formatDate(comment.date) }}</span>
              </div>
            </li>
          </ng-container>
        </ul>
        <form class="form-inline" role="form">
          <div class="form-group">
            <input
              type="text"
              name="text"
              class="comment-input"
              placeholder="Write a message"
              #comment
            />
          </div>
          <button class="btn-comment" (click)="commentPost()" [disabled]="!comment.value" title="Add comment button">
            <p>Comment</p>
          </button>
        </form>
      </div>
    </div>
  </div>
</p-dialog>
