.card {
  min-width: 310px;
  min-height: 200px;
  background-color: #151515;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: #FFF;
  font-size: 12px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 25px -10px rgba(0, 0, 0, 0.75);
}

.card button {
  border: none;
  background: none;
  cursor: pointer;
}

.card-header,
.user,
.card-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.user > img {
  border-radius: 50%;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.card-img {
  position: relative;
  aspect-ratio: auto;
}

.card-img > img {
  width: 100%;
  max-height: 290px;
  object-fit: fill;
  border-radius: 15px;
}

.card-header > img {
  object-fit: fill;
}

.modal-body {
  display: flex;
  gap: 20px;
}

.modal-post {
  position: relative;
  margin-top: 20px;
  background-color: #151515;
}

.modal-post > img {
  width: 100%;
  aspect-ratio: 4 / 5;
  border-radius: 8px;
}

.modal-comments {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-actions i {
  color: white;
  font-size: 16px;
}

.card-desc {
  position: relative;
  max-height: 50px;
  overflow-y: hidden;
}

.show-btn {
  margin-left: 60%;
  background: none;
  border: none;
  color: #4caf50;
  cursor: pointer;
}

.show-more {
  max-height: 170px;
  overflow-wrap: break-word;
}

.pi-thumbs-up:before {
  transition: all 0.5s ease;
}

.active {
  -webkit-animation: jump 1s ease 0s 1 normal;
  -moz-animation: jump 1s ease 0s 1 normal;
  -ms-animation: jump 1s ease 0s 1 normal;
  animation: jump 1s ease 0s 1 normal;
}

.active::before {
  -webkit-text-fill-color: #4caf50;
  color: #4caf50;
}

.comments-header {
  border: 1px solid black;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (min-width < 768px) {
  section {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 768px) {
  section {
    grid-template-columns: repeat(2, 300px);
  }
}

@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(3, 300px);
    align-items: start;
  }
}

/*  */

.detailBox {
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.modal-desc {
  color: #FFF;
  border-bottom: 1px solid #3C3E40;
}

.modal-desc > p {
  font-size: medium;
}

.titleBox {
  display: flex;
  align-items: center;
  background-color: #151515;
  color: #FFF;
  gap: 10px;
}

.titleBox p {
  font-weight: bold;
}

.commentBox {
  padding: 10px;
  border-top: 1px dotted #bbb;
}

.commentBox .form-group,
.actionBox .form-group {
  width: 80%;
}


.actionBox .form-group * {
  width: 100%;
}

.taskDescription {
  margin-top: 10px 0;
}

.commentList {
  padding: 0;
  list-style: none;
  max-height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.commentList li {
  display: flex;
  gap: 10px;
  place-items: center;
}

.commenterImage {
  width: 30px;
  margin-right: 5px;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
}

.commenterImage img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.commentText p {
  margin: 0;
  color: #FFF;
  font-size: small;
}

.sub-text {
  color: #76777E;
  font-size: 11px;
}

.comment-input {
  color: #fff;
  background: none;
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
  border-radius: 0.4vw;
  border: 1px solid #312F37;
  outline: none;
  padding: 0.4vw;
  max-width: 90%;
  height: 35px;
  transition: 0.4s;
}

.comment-input:hover {
  box-shadow: 0 0 0 0.15vw rgba(76, 175, 80, 0.186);
}

.comment-input:focus {
  box-shadow: 0 0 0 0.15vw #4caf50;
}

.form-inline {
  /* margin-top: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* From uiverse.io by @alshahwan */
.btn-comment {
  background-color: #151515;
  border: 1px solid #4caf50;
  padding: 5px;
  width: 7.2em;
  height: 35px;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 0.4em;
  cursor: pointer;
}

.btn-comment p {
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #4caf50;
}

.btn-comment:hover:not(:disabled) p {
  color: #fff;
}

.btn-comment:hover:not(:disabled) {
  background-color: #4caf50;
}

.btn-comment:disabled {
  opacity: 0.5;
  cursor: default;
}

::ng-deep .pi-bookmark-fill {
  color: #FFF;
  transition: all 0.5s ease;
}

::ng-deep .p-dialog .p-dialog-content {
  background-color: #151515;
}
