/* .card {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  height: 400px;
  margin: 20px;
}

.card-img {
  height: 400px;
}

.user-profile {
  margin-left: 10px;
  gap: 10px;
}

.user-profile > img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-profile{
  display: flex;
  flex-direction: row;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-info > span {
  font-size: 15px;
  font-weight: normal;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions > button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.actions > button > span {
  font-size: medium;
  margin: 5px;
  pointer-events: none;
}


section {
  display: grid;
  grid-gap: 40px;
  padding: 20px;
  place-content: center;
}

@media screen and (min-width < 768px) {
  section {
    grid-template-columns: repeat(1, 1fr);
    transition: all 4s ease-in-out;
    width: 400px;
    height: 600px;
  }
}


@media screen and (min-width: 768px) {
  section {
    grid-template-columns: repeat(2, 1fr);
    transition: all 4s ease-in-out
  }
}

@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(3, 1fr);
    transition: all 4s ease-in-out
  }
} */
.card {
  min-width: 310px;
  min-height: 200px;
  background-color: inherit;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  color: black;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
}

.card button {
  border: none;
  background: none;
  cursor: pointer;
}

.card-header, .user, .card-actions{
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.user > img {
  border-radius: 50%;
}

.user-text {
  display: flex;
  flex-direction: column;
}

.card-img {
  position: relative;
}

.card-img > img{
  /* width: 290px; */
  width: 100%;
  max-height: 290px;
  border-radius: 15px;
}

.card-actions i {
  color: black;
  font-size: 16px;
}

section {
  display: grid;
  grid-gap: 40px;
  padding: 20px;
  place-content: center;
  /* grid-template-rows: 370px 480px; */
}

.card-desc {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis ellipsis;
  transition: height 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.show-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: none;
  border: none;
  color: #4caf50;
  cursor: pointer;
}

.show-more {
  min-height: 100px;
  overflow-wrap: break-word;
  transition: all 0.5s steps();
}

@media screen and (min-width < 768px) {
  section {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: 370px 480px; */
  }
}


@media screen and (min-width: 768px) {
  section {
    grid-template-columns: repeat(2, 300px);
    /* grid-template-rows: 370px 480px; */
  }
}

@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(3, 300px);
    /* grid-template-rows: 370px 480px; */
    align-items: start;
  }
}

