<aside>
  <div class="grid-config">
    <button id="btn-3-col" class="grid-btn" (click)="show3Columns()" title="3 Colums Button">
      <img
        src="../../../assets/icons8-grid-view-24.png"
        alt="3 Colums icon"
        srcset=""
        width="17px"
        height="17px"
      />
    </button>
    <button id="btn-2-col" class="grid-btn" (click)="show2Columns()" title="2 Colums Button">
      <img
        src="../../../assets/icons8-grid-2-24.png"
        alt="2 Colums icon"
        srcset=""
        width="17px"
        height="17px"
      />
    </button>
    <button id="btn-1-col" class="grid-btn" (click)="show1Column()" title="1 Colum Button">
      <img
        src="../../../assets/icons8-bullet-list-30.png"
        alt="1 Colum icon"
        srcset=""
        width="17px"
        height="17px"
      />
    </button>
  </div>

  <button class="add-post" (click)="showModalDialog()" title="Add post button">
    <i class="pi pi-plus" style="color: #4caf50; font-size: 20px"></i>
  </button>
</aside>

<!-- Modal -->

<p-dialog
  header="Create a new Post"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '70%' }"
  [draggable]="false"
  [resizable]="false"
  ngClass="modal reverse"
  [ngClass]="{ 'modal' : true,'reverse' : true}"
>
  <ng-template pTemplate="header" styleClass="modal-header">
    <button (click)="createPost()" class="pots-btn" [disabled]="!enableButton">
      <span>Create Post</span>
    </button>
    <h3 class="header-title">Create a new post</h3>
  </ng-template>
  <form class="upload-form">
    <div class="img-upload">
      <file-pond
        #myPond
        [options]="pondOptions"
        (onaddfile)="pondHandleAddFile($event)"
      >
      </file-pond>
    </div>
    <div class="text-container">
      <textarea
        pInputTextarea
        placeholder="Write a description"
        [(ngModel)]="content"
        class="textarea"
        name="text-area"
      ></textarea>
    </div>
  </form>
</p-dialog>

<p-toast position="bottom-right" key="tc" ngClass="toast">
  <ng-template let-message pTemplate="message">
    <div class="flex flex-column" style="flex: 1">
      <div class="toast-message">
        <i class="pi pi-check" style="color: #4caf50"></i>
        <p>{{ message.detail }}</p>
      </div>
    </div>
  </ng-template>
</p-toast>
