aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 130px;
  right: 0;
  top: 0;
  height: 100vh;
  /* background-color: rebeccapurple; */
}

button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  /* background-color: #333; */
  /* color: #fff; */
  background-color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.grid-config {
  display: flex;
  flex-direction: column;
}

.grid-btn {
  opacity: 0.2;
  transition: all 0.5s ease;
}

.grid-btn:focus {
  opacity: 1;
}

.add-post {
  --border-width: 2px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2.5rem; */
  text-transform: uppercase;
  color: white;
  background: #fff;
  border-radius: var(--border-width);
}

.add-post::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
    #f2cb5f,
    #abf25f,
    #5ff281,
    #5ff281,
    #f2cb5f,
    #abf25f,
    #5ff281,
    #5ff2f0
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: calc(2 * var(--border-width));
  animation: moveGradient 4s alternate infinite;
}

.login-form {
  display: flex;
}

.text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.textarea,
.textarea:focus {
  width: 100%;
  height: 200px;
  border: none;
  resize: none;
  font-family: "Poppins", sans-serif;
  margin-left: 10px;
}

::ng-deep .p-fileupload .p-fileupload-adva {
  margin: 10px;
}

::ng-deep .p-fileupload .p-fileupload-advanced .p-component .ng-star-inserted {
  margin: 10px;
}

::ng-deep .p-progressbar .p-component .p-progressbar-determinate {
  display: none;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: large;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button {
  width: 100px;
  font-size: small;
  background-color: #4caf50;
  border: none;
}

::ng-deep .p-button.p-button-icon-only {
  background-color: #4caf50;
  border: none;
  transition: background-color 0.5s ease;
}

::ng-deep .p-button.p-button-icon-only:hover {
  background-color: #5ff281;
}

::ng-deep .p-progressbar .p-progressbar-value {
  background-color: #4caf50;
}

::ng-deep .p-fileupload .p-fileupload-buttonbar .p-button {
  margin-bottom: 10px;
}

.pots-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #4caf50;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.pots-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.pots-btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.pots-btn:hover span {
  padding-right: 15px;
}

.pots-btn:hover span:after {
  opacity: 1;
  right: 0;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}
