::ng-deep .p-toast .p-toast-message.p-toast-message-success {
  background-color: #151515;
  border: 1px solid #312F37;
  height: 50px;
  width: 250px;
}

::ng-deep .toast-message{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 10px;
}

::ng-deep .p-toast .p-toast-message .p-toast-message-content {
  padding: 0;
  padding-left: 10px;
}

::ng-deep .p-toast .p-toast-message .p-toast-icon-close {
  align-self: center;
}

::ng-deep .toast-message p,::ng-deep .p-toast .p-toast-message.p-toast-message-success .p-toast-icon-close {
  color: #4caf50;
}

::ng-deep .modal .p-dialog .p-dialog-content, .p-dialog-header {
  background-color: #151515;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  color: #FFF;
  font-weight: bold;
}

::ng-deep .p-dialog .p-dialog-header {
  background-color: #151515;
}

::ng-deep .modal .p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
}
