<header>
  <app-navbar [home]="true"></app-navbar>
</header>
<div class="story-feed">
  <img
    src="../../../assets/1.jpg"
    alt=""
    width="50px"
    height="50px"
    class="circle"
  />
  <app-stories></app-stories>
  <button class="circle">
    <li class="pi pi-play"></li>
  </button>
</div>
<main>
  <app-posts-card></app-posts-card>
</main>

<aside>
  <span>Configuración del Grid</span>
  <button id="btn-2-col" (click)="show2Colums()">2 columnas</button>
  <button id="btn-4-col" (click)="show3Columns()">3 columnas</button>
  <button id="btn-1-col" (click)="show1Column()">1 columnas</button>
</aside>
