<header>
  <app-navbar [home]="true"></app-navbar>
</header>
<div class="story-feed">
  <app-stories></app-stories>
</div>

<main>
  <section>
    <ng-container *ngFor="let post of posts">
      <app-posts-card [post]="post"></app-posts-card>
    </ng-container>
  </section>
</main>

<div class="skeleton-loader" id="skeleton-loader">
  <div class="skeleton">
    <div class="skeleton-header">
      <p-skeleton shape="circle" size="2.5rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="skeleton-img">
      <p-skeleton width="20rem" height="10rem"></p-skeleton>
    </div>
    <div class="skeleton-icons">
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
    </div>
    <div class="skeleton-bottom">
      <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      <br>
      <p-skeleton width="20rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
    </div>
  </div>

  <div class="skeleton">
    <div class="skeleton-header">
      <p-skeleton shape="circle" size="2.5rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="skeleton-img">
      <p-skeleton width="20rem" height="10rem"></p-skeleton>
    </div>
    <div class="skeleton-icons">
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
    </div>
    <div class="skeleton-bottom">
      <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      <br>
      <p-skeleton width="20rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
    </div>
  </div>

  <div class="skeleton">
    <div class="skeleton-header">
      <p-skeleton shape="circle" size="2.5rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
    </div>
    <div class="skeleton-img">
      <p-skeleton width="20rem" height="10rem"></p-skeleton>
    </div>
    <div class="skeleton-icons">
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
      <p-skeleton size="1rem" styleClass="mr-2"></p-skeleton>
    </div>
    <div class="skeleton-bottom">
      <p-skeleton width="10rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
      <br>
      <p-skeleton width="20rem" styleClass="mb-2" borderRadius="16px"></p-skeleton>
    </div>
  </div>
</div>

<div class="grid-aside">
  <app-grid-config></app-grid-config>
</div>

<!-- Utils -->
<p-menu #menu [popup]="true" [model]="items"></p-menu>

