<header>
  <app-navbar [home]="true"></app-navbar>
</header>
<div class="story-feed">
  <img
    src="../../../assets/1.jpg"
    alt=""
    width="50px"
    height="50px"
    class="circle"
  />
  <app-stories></app-stories>
  <button class="circle">
    <li class="pi pi-play"></li>
  </button>
</div>

<main>
  <section>
    <ng-container *ngFor="let post of posts">
      <app-posts-card [post]="post"></app-posts-card>
    </ng-container>
  </section>
</main>



<div class="grid-aside">
  <app-grid-config></app-grid-config>
</div>

<!-- Utils -->
<p-menu #menu [popup]="true" [model]="items"></p-menu>

