.stories {
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: .5rem;
  overflow-x: scroll;
	scroll-snap-type: x mandatory;
  max-width: 800px;
}

.stories::-webkit-scrollbar {
  display: none;
}

.story {
  min-width: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
  color: black;
  overflow: hidden;
  align-items: left;
  font-size: .7rem;
  border: 1px solid #22c55e;
  height: 80%;
  cursor: pointer;
}

.story::before {
  content: '';
  height: 3rem;
  width: 100%;
  display: block;
  background:linear-gradient(transparent, lightgreen);
  position: absolute;
  bottom: 0;
  left: 0;
}

.story p {
  z-index: 1;
}

.story .profile-phots {
  height: 2rem;
  width: 2rem;
  align-self: start;
  border: 2px dotted lightgreen;
  border-radius: 50%;
}

.profile-phots img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.story {
  /* background-image: url("http://localhost:8080/media/slide1.png"); */
  background-position: center;
  background-size: cover;
}

.swiper-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-wrapper {
  display: flex;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 320px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px;
}
.picture {
  width: 320px;
  height: 320px;
  overflow: hidden;
}
.picture img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail {
  padding: 25px 20px;
  font-weight: 600;
  text-align: center;
}
.detail h3 {
  margin: 0;
  font-size: 20px;
}
.detail span {
  display: block;
  font-size: 16px;
  color: #f44336;
}

::ng-deep .p-dialog .p-dialog-header{
  background-color: transparent;
}

::ng-deep .p-dialog .p-dialog-content {
  background-color: transparent;
}

::ng-deep .p-dialog .p-dialog-header-icon .p-dialog-header-close-icon{
  color: black;
}

::ng-deep .p-dialog .p-dialog-content::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}
