<div class="stories">
  <div class="story create-story">
    <div class="actions">
      <i class="pi pi-plus-circle" style="font-size: 1.5rem; color : forestgreen"></i>
      <strong>Create a Story</strong>
    </div>
  </div>
  <div class="action"></div>
  <ng-container *ngFor="let story of stories, index as i">
    <div class="story" [ngStyle]="{'background-image': 'url(&quot;' + story.media + '&quot;)'}" (click)="slideTo(i)">
      <div class="profile-phots">
        <img src="{{story.user.profileImg}}" alt="">
      </div>
      <p>{{story.user.username}}</p>
    </div>
  </ng-container>
</div>
<!-- Slider -->

<p-dialog header="Stories"  [(visible)]="visible" [modal]="true" [style]="{ width: '100vw'}" [draggable]="false" [resizable]="false">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <ng-container>
        <div class="swiper-slide" *ngFor="let story of stories">
          <div class="picture">
            <img src="{{ story.media }}" alt="" />
            <div class="story-owner">
              <div class="profile-phots">
                <img src="{{story.user.profileImg}}" alt="">
              </div>
              <p>{{story.user.username}}</p>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</p-dialog>
