<div class="container">
	<div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
	<div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
	<div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
	<div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
	<div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
	<div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
	<div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
  <div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
  <div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
  <div class="child">
		<img src="../../../assets/1.jpg" alt="" width="50px" height="50px">
	</div>
</div>
