<div class="main-container">
  <aside class="login-aside">
    <img src="../../../assets/login-present.png" alt="Page mockup" width="80%" />
    <div class="info">
      <h1>"Fast, Efficient and Productive"</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
        perspiciatis architecto libero ipsam et expedita incidunt quia accusamus
        eligendi cum laudantium necessitatibus cumque voluptas officiis corrupti
        praesentium, exercitationem blanditiis aliquam.
      </p>
    </div>
  </aside>

  <div class="right">
    <div class="logo-container">
      <img
        src="../../../assets/spring-net-logo.png"
        alt="SpringNet Logo"
        class="navbar-logo"
        width="50px"
      />
      <span>SpringNet</span>
    </div>
    <form [formGroup]="userForm" class="login-form">
      <div class="form-info">
        <h1>Sign Up<span>!</span></h1>
        <p>"Connect with the world and live unforgettable experiences"</p>
      </div>
      <div class="input-group">
        <input
          required=""
          type="text"
          name="text"
          autocomplete="off"
          class="input"
          id="email"
          formControlName="email"
          required
        />
        <label class="user-label">Email</label>
      </div>
      <div class="input-group">
        <input
          required=""
          type="password"
          name="password"
          autocomplete="off"
          class="input"
          id="password"
          formControlName="password"
          required
        />
        <label class="user-label">Password</label>
      </div>
      <button type="submit" class="login-btn" (click)="submitForm()" title="Submit form button">
        Login
      </button>
      <div class="content__or-text">
        <span></span>
        <span>OR</span>
        <span></span>
      </div>
      <span class="message"
        >Not registered?
        <a routerLink="/register">Create an account</a></span
      >
    </form>
  </div>
</div>
