<div class="main-container">
  <aside class="login-aside">
    <img src="../../../assets/login2.webp" alt="Page mockup" width="100%" />
    <div class="info">
      <h1>"Welcome to SpringNet"</h1>
      <p style="font-weight: bolder;">
        Connect and Bloom with SpringNet! 🌸
      </p>
    </div>
  </aside>

  <div class="right">
    <div class="logo-container">
      <img
        src="../../../assets/Logo.png"
        alt="SpringNet Logo"
        width="70px"
      />
      <span>SpringNet</span>
    </div>
    <form [formGroup]="userForm" class="login-form">
      <div class="form-info">
        <h1>Sign Up<span>!</span></h1>
        <p>"Connect with the world and live unforgettable experiences"</p>
      </div>
      <div class="input-group">
        <input
          required=""
          type="text"
          name="text"
          autocomplete="off"
          class="input"
          id="email"
          formControlName="email"
          required
        />
        <label class="user-label">Email</label>
      </div>
      <div class="input-group">
        <input
          required=""
          type="password"
          name="password"
          autocomplete="off"
          class="input"
          id="password"
          formControlName="password"
          required
        />
        <label class="user-label">Password</label>
      </div>
      <button
        type="submit"
        class="login-btn"
        (click)="submitForm()"
        title="Submit form button"
      >
        Login
      </button>
      <div class="content__or-text">
        <span></span>
        <span>OR</span>
        <span></span>
      </div>
      <span class="message"
        >Not registered? <a routerLink="/register">Create an account</a></span
      >
    </form>
  </div>
</div>
