<header>
  <app-navbar></app-navbar>
</header>

<aside class="profile-aside">
  <div class="user-info">
    <img src="../../../assets/spring-net-logo.png" alt="" width="50px" height="50px">
    <div class="stats">
      <span id="post">518</span>
      <span id="followers">200k</span>
      <span id="following">197</span>
    </div>
    <button>Follow</button>
    <div class="text">
      <strong>Username</strong>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus, ad maiores! Mollitia, consequatur. Cumque est suscipit eius officiis. Dolorem optio, error dicta quis accusamus minus repellendus neque iure tempore placeat.</p>
    </div>
  </div>
</aside>
<aside class="grid-aside">
  <div class="grid-config">
    <button id="btn-3-col" class="grid-btn">
      <img src="../../../assets/icons8-grid-view-24.png" alt="" srcset="" width="17px" height="17px">
    </button>
    <button id="btn-2-col" class="grid-btn" >
      <img src="../../../assets/icons8-grid-2-24.png" alt="" srcset="" width="17px" height="17px">
    </button>
    <button id="btn-1-col" class="grid-btn" >
      <img src="../../../assets/icons8-bullet-list-30.png" alt="" srcset="" width="17px" height="17px">
    </button>
  </div>

  <button class="add-post" >
    <li class="pi pi-plus" style="color: #4caf50; font-size: 20px;"></li>
  </button>

</aside>
