section {
  position: relative;
  display: grid;
  grid-gap: 25px;
  place-content: center;
  max-width: 70%;
  margin-top: 110px;
  margin-left: 140px;
}

.profile-aside {
  position: fixed;
  top: 75px;
  right: 0;
  width: 200px;
  height: 100vh;
  padding: 10px;
  background: #151515;
  border: 1px solid #312f37;
  border-top: none;
  box-shadow: 0px 10px 40px 0px #101011;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #fff;
}

.user-info > img {
  border-radius: 50%;
  border: 1px solid #312f37;
}

.stats,
.stat {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.interactive {
  cursor: pointer;
}

.stat > span:nth-child(1) {
  font-weight: bold;
}

.stat > span:nth-child(2) {
  font-size: 12px;
  color: #76777e;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text strong,
p {
  font-size: small;
}

.text p {
  color: #cebfbf;
}

.stats {
  gap: 30px;
}

.grid-aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 130px;
  right: 0;
  top: 0;
  height: 100vh;
}

button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.grid-config {
  display: flex;
  flex-direction: column;
}

.grid-btn {
  opacity: 0.2;
  transition: all 0.5s ease;
}

.grid-btn:focus {
  opacity: 1;
}

.follow-btn {
  border-radius: 8px;
  background-color: #4caf50;
  width: 60%;
  color: white;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: space-between;
}

.posts {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: grid;
}

@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(3, 300px);
    align-items: start;
  }
}

.place-holder {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 0;
}

.followers-container {
  display: flex;
  flex-direction: column;
}

.follower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.follower-info {
  display: flex;
  align-items: center;
}

.follower-info span {
  color: #fff;
  margin-left: 10px;
}

.upload-btn {
  background-color: #151515;
  border: 1px solid #4caf50;
  padding: 5px;
  height: 30px;
  transition: 0.5s;
  font-size: 12px;
  border-radius: 0.4em;
  cursor: pointer;
  color: #4caf50;
  transition: all 0.2s ease-in-out;
}

.upload-btn:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.02);
}

::ng-deep .modal .p-dialog-content {
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

::ng-deep .modal .p-dialog-content::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

::ng-deep .modal .p-dialog-content::-webkit-scrollbar-track {
  background-color: transparent;
}

::ng-deep .modal .p-dialog-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}

svg path,
svg rect {
  fill: #4caf50;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* margin: 0 0 2em; */
  /* height: 100px; */
  width: 20%;
  text-align: center;
  padding: 1em;
  display: inline-block;
  vertical-align: top;
}
