.profile-aside {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  background-color: rebeccapurple;
  margin-top: 100px;
  height: 100vh;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.stats {
  display: flex;
  gap: 50px;
}

.stats > span {
  position: relative;
}

.stats > span::after {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
}

.stats > span:nth-child(1):after {
  content: "posts";
}

.stats > span:nth-child(2):after {
  content: "followers";
}

.stats > span:nth-child(3):after {
  content: "following";
}

.grid-aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 130px;
  right: 0;
  top: 0;
  height: 100vh;
  /* background-color: rebeccapurple; */
}

button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  /* background-color: #333; */
  /* color: #fff; */
  background-color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.grid-config {
  display: flex;
  flex-direction: column;
}

.grid-btn {
  opacity: 0.2;
  transition: all 0.5s ease;
}

.grid-btn:focus {
  opacity: 1;
}
