<body>
  <header>
    <app-navbar></app-navbar>
  </header>
  <aside class="profile-aside">
    <div class="user-info">
      <img
        src="{{ user.profileImg }}"
        alt="User profile image"
        width="70px"
        height="70px"
      />
      <div class="stats">
        <span>{{ userPosts.length }} Posts</span>
        <span>{{ followers }} Followers</span>
        <span>{{ following }} Following</span>
      </div>
      <button *ngIf="flag" class="follow-btn">Follow</button>
      <div class="text">
        <strong>@{{user.username}}</strong>
        <p>
          {{user.description}}
        </p>
      </div>
    </div>
  </aside>
  <section>
    <ng-container *ngFor="let post of userPosts">
      <app-posts-card [post]="post"></app-posts-card>
    </ng-container>
  </section>
  <app-grid-config></app-grid-config>
</body>
