section {
  position: relative;
  display: grid;
  grid-gap: 25px;
  place-content: center;
  max-width: 70%;
  margin-top: 110px;
  margin-left: 140px;
}

.profile-aside {
  position: fixed;
  top: 75px;
  right: 0;
  width: 200px;
  height: 100vh;
  padding: 10px;
  background: #151515;
  border: 1px solid #312F37;
  border-top: none;
  box-shadow: 0px 10px 40px 0px #101011;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #FFF;
}

.user-info > img {
  border-radius: 50%;
  border: 1px solid #312F37;
}

.stats,
.stat {
  display: flex;
  flex-direction: column;
  place-items: center;
}

.stat > span:nth-child(1){
  font-weight: bold;
}

.stat > span:nth-child(2){
  font-size: 12px;
  color: #76777E;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.text strong, p{
  font-size: small;
}

.text p {
  color: #cebfbf;
}

.stats {
  gap: 30px;
}

.grid-aside {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 130px;
  right: 0;
  top: 0;
  height: 100vh;
}

button {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.grid-config {
  display: flex;
  flex-direction: column;
}

.grid-btn {
  opacity: 0.2;
  transition: all 0.5s ease;
}

.grid-btn:focus {
  opacity: 1;
}

.follow-btn {
  border-radius: 8px;
  background-color: #4caf50;
  width: 60%;
  color: white;
  font-weight: bold;
}

.main {
  display: flex;
  justify-content: space-between;
}

.posts {
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: grid;
}

@media screen and (min-width: 1200px) {
  section {
    grid-template-columns: repeat(3, 300px);
    align-items: start;
  }
}

.place-holder {
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin-top: 0;
}
