<div class="main">
  <ng-container *ngIf="user">
    <aside class="profile-aside">
      <div class="user-info">
        <img
          src="{{ user.profileImg }}"
          alt="User profile image"
          width="70px"
          height="70px"
        />
        <strong>@{{ user.username }}</strong>
        <div class="stats">
          <div class="stat">
            <span>{{ userPosts.length }}</span>
            <span>Posts</span>
          </div>
          <div class="stat interactive" (click)="showFollowersModal()">
            <span>{{ followersList.length }}</span>
            <span>Followers</span>
          </div>
          <div class="stat interactive" (click)="showFollowingsModal()">
            <span>{{ followedList.length }}</span>
            <span> Following</span>
          </div>
        </div>
        <button (click)="setFollow()" *ngIf="flag" class="follow-btn" title="Follow/Unfollow button">
          {{ checkFollow ? "Unfollow" : "Follow" }}
        </button>
        <div class="text">
          <p>
            {{ user.description }}
          </p>
        </div>
      </div>
    </aside>
  </ng-container>
  <section *ngIf="!showPlaceholder; else elseBlock">
    <ng-container *ngFor="let post of userPosts">
      <app-posts-card [post]="post"></app-posts-card>
    </ng-container>
  </section>
  <ng-template #elseBlock>
    <section class="place-holder">
      <img src="https://springnet-angular-app.s3.us-east-2.amazonaws.com/camera.svg" alt="Camera Logo" width="40px" />
      This user doesn't have posts
    </section>
  </ng-template>
</div>

<!-- Followers List Modal -->
<p-dialog
  header="Followers"
  [(visible)]="displayFollowersModal"
  [modal]="true"
  [style]="{ width: '30vw' }"
  ngClass="modal"
  [draggable]="false"
  [resizable]="false"
>
  <div class="followers-container">
    <ng-container *ngFor="let follower of followersList">
      <div class="follower">
        <div class="follower-info">
          <p-avatar image="{{ follower.profileImg }}" shape="circle"></p-avatar>
          <span>{{ follower.username }}</span>
        </div>
        <ng-container *ngIf="follower.id">
          <button (click)="redirectToProfile(follower.id)" class="upload-btn" title="See profile button">See profile</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</p-dialog>
<!-- End Followers List Modal -->

<!-- Followings List Modal -->
<p-dialog
  header="Followed"
  [(visible)]="displayFollowingsModal"
  [modal]="true"
  [style]="{ width: '30vw' }"
  ngClass="modal"
  [draggable]="false"
  [resizable]="false"
>
  <div class="followers-container">
    <ng-container *ngFor="let followingUser of followedList">
      <div class="follower">
        <div class="follower-info">
          <p-avatar image="{{ followingUser.profileImg }}" shape="circle"></p-avatar>
          <span>{{ followingUser.username }}</span>
        </div>
        <ng-container *ngIf="followingUser.id">
          <button (click)="redirectToProfile(followingUser.id)" class="upload-btn" title="See profile button">See profile</button>
        </ng-container>
      </div>
    </ng-container>
  </div>
</p-dialog>
<!-- End Followings List Modal -->
