<nav class="sidebar-container">
  <ul class="sidebar">
    <li>
      <button class="icon-btn">
        <img src="../../../assets/home.svg" alt="Home Icon" />
      </button>
      <span class="icon-title">Home</span>
    </li>
    <li>
      <button class="icon-btn">
        <img src="../../../assets/chat-icon.svg" alt="Chat Icon" />
      </button>
      <span class="icon-title">Chats</span>
    </li>
    <li>
      <button class="icon-btn">
        <img src="../../../assets/discover-icon.svg" alt="Discover Icon" />
      </button>
      <span class="icon-title">Soon</span>
    </li>
    <li>
      <button class="icon-btn">
        <img src="../../../assets/liked-icon.svg" alt="Liked Icon" />
      </button>
      <span class="icon-title">Likes</span>
    </li>
    <li>
      <button class="icon-btn">
        <img src="../../../assets/videos-icon.svg" alt="Videos Icon" />
      </button>
      <span class="icon-title">Videos</span>
    </li>
    <li>
      <button class="icon-btn">
        <img src="../../../assets/reels-icon.svg" alt="Reels Icon" />
      </button>
      <span class="icon-title">Reels</span>
    </li>
    <li>
      <button class="icon-btn">
        <img src="../../../assets/saved-icon.svg" alt="Saved Icon" />
      </button>
      <span class="icon-title">Saved</span>
    </li>
  </ul>
</nav>
