.container {
  display: flex;
  position: relative;
}

.sidebar-container{
  height: 100vh;
  position: fixed;
  width: 90px;
  background-color: #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  border: 1px solid #312F37;
  transition: all .2s ease-in-out;
  z-index: 20;
}

.sidebar-container:hover {
  width: 190px;
  transition: all .2s ease-in-out;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
  gap: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-self: center;
  position: relative;
}

.sidebar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 55px;
  width: 50px;
  height: 150px;
  background-color: #151515;
  transform: translateY(-50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 51% 70%, 51% 30%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 51% 70%, 51% 30%);
  z-index: -1;
}

.icon-btn {
  background: none;
  border: none;
}

.sidebar li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

li:hover {
  transform: scale(1.05);
  transition: all .5s ease-in-out;
}

button {
  /* position: relative; */
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sidebar li .icon-btn-active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4caf50;
}

.icon-title {
  /* position: absolute; */
  font-size: small  ;
  color: white;
  display: none;
  /* right: -40px; */
  font-weight: bold;
  /* background-color: red; */
}

.sidebar-container:hover .icon-title{
  display: block;
}

.header {
  position: fixed;
  width: 93.4%;
  height: 75px;
  margin-left: 90px;
  background-color: #151515;;
  border: 1px solid #312F37;
  border-left: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  z-index: 10;
  backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(21, 21, 21, 0.75);
}

.logo-container {
  display: flex;
  color: white;
  place-items: center;
  gap: 10px;
}

::ng-deep .autocomplete {
  width: 300px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #29292E;
  background: #1B1A1C;
  box-shadow: 0px 4px 40px 0px #171619 inset;
  display: flex;
  position: relative;
}

::ng-deep .autocomplete input {
  background: none;
  width: 300px;
  height: 48px;
  border: none;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  justify-self: flex-end;
  position: absolute;
  left: 20px;
}

::ng-deep .autocomplete input:enabled:focus {
  outline: none;
  border: none;
  box-shadow: none;
  position: relative;
}

::ng-deep .autocomplete input::placeholder {
  font-weight: bolder;
  font-size: 1rem;
}

.autocomplete-form {
  display: flex;
  position: relative;
}

.autocomplete-form button {
  background:none;
  border: none;
  pointer-events: none;
  position: absolute;
  top: 15px;
  z-index: 10;
}

::ng-deep .autocomplete .p-autocomplete-panel {
  background-color: #151515;
  border: 1px solid #312F37;
}

::ng-deep .autocomplete .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item,
.p-autocomplete-item:hover{
  font-family: 'Poppins', sans-serif;
  color: white;
  transition: all 0.2s ease-in-out;
}


::ng-deep .autocomplete .p-autocomplete-panel .p-autocomplete-items .p-autocomplete-item:hover {
  background-color: #312F37;
  transition: all 0.2s ease-in-out;
}

::ng-deep .user-item {
  display: flex;
  place-items: center;
  gap: 5px;
}

::ng-deep .avatar .p-avatar-circle{
  width: 45px;
  height: 45px;
  border: 1px solid #312F37;
}

.user-item img {
  border-radius: 50% ;
}
