<!-- <header>
  <app-navbar [likes]="true"></app-navbar>
</header> -->
<main>
  <span>Only you can see what you saved</span>
  <section>
    <ng-container *ngIf="saved">
      <ng-container *ngFor="let post of posts">
        <app-posts-card [post]="post"></app-posts-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="liked">
      <ng-container *ngFor="let post of likedPosts">
        <app-posts-card [post]="post"></app-posts-card>
      </ng-container>
    </ng-container>
  </section>
</main>
<app-grid-config></app-grid-config>
