<div class="main">
  <span>Only you can see this posts</span>
  <section>
    <ng-container *ngIf="saved; else liked">
      <ng-container *ngFor="let post of posts">
        <app-posts-card [post]="post"></app-posts-card>
      </ng-container>
    </ng-container>
    <ng-template #liked>
      <ng-container *ngFor="let post of likedPosts">
        <app-posts-card [post]="post"></app-posts-card>
      </ng-container>
    </ng-template>
  </section>
  <div class="placeholder" *ngIf="renderPlaceholder">
    <img src="../../../assets/{{saved ? 'bookmark-x.svg' : 'heart-broken.svg'}}" alt="users icon" width="40px" />
    <span style="width: 80%; text-align: left"
      >It looks like you haven't {{saved ? 'saved' : 'liked' }} any posts yet. Don't worry, you can explore and {{saved ? 'save' : 'like' }} interesting posts to revisit later. Enjoy discovering valuable content and saving your favorites for future inspiration!</span
    >
  </div>
</div>
<app-grid-config></app-grid-config>
